@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

:root {
    /* COLORS */
    --white: hsl(0, 0%, 100%);
    --light-gray: hsl(212, 45%, 89%);
    --grayish-blue: hsl(220, 15%, 55%);
    --dark-blue: hsl(218, 44%, 22%);
}


/* GENERAL STYLES */ 

html {
    font-size: 10px;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    height: 100vh;
    background-color: var(--light-gray);
}

main {
    background-color: var(--white);
    width: 300px;
    height: 475px;
    border-radius: 20px;
}

h1 {
    font-family: 'Outfit', sans-serif;
    color: var(--dark-blue);
    text-align: center;
    margin: 10px 30px;
}

p {
    font-family: 'Outfit', sans-serif;
    font-size: 1.5rem;
    color: var(--grayish-blue);
    text-align: center;
    margin: 10px 30px;
}


/* QR CODE */

.qr-code {
    margin: 15px;
    border-radius: 10px;
    width: 270px;
}